/* === IMPORTANTE ===================================================
   No modificar estos estilos, ya que son imprescindibles para
   que la página se vea correctamente.
   ================================================================== */

/*-- Básico ----------------------------------------------------------*/
ul,
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p,
form {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

img {
  border: none;
}

/*-- Layout ----------------------------------------------------------*/
#contenedor {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  width: expression(document.body.clientWidth > 901? "900px": "auto");
}

#cabecera,
#menu,
#lateral,
#contenido,
#contenido #principal,
#contenido #secundario,
#pie {
  border: 2px solid #777;
}

#cabecera {
  clear: both;
}

#menu {
  clear: both;
}

#lateral {
  float: left;
  width: 20%;
}

#contenido {
  float: right;
  width: 78%;
}

#contenido #principal {
  float: left;
  width: 78%;
}

#contenido #secundario {
  float: right;
  width: 20%;
}

#pie {
  clear: both;
}

/*-- Cabecera --------------------------------------------------------*/
#cabecera #logo {
  float: left;
}

#cabecera #buscador {
  float: right;
}

/*-- Menu ------------------------------------------------------------*/
#menu ul#menu_principal li {
  display: inline;
  float: left;
}

/*-- Sección Principal -----------------------------------------------*/
#contenido #principal .articulo img {
  width: 100px;
  float: left;
}

/*-- Pie de página ---------------------------------------------------*/
#pie .enlaces {
  float: left;
}

#pie .copyright {
  float: right;
}

/* === IMPORTANTE ===================================================
   A partir de aquí, se pueden añadir todos los estilos propios que 
   sean necesarios.
   ================================================================== */

* {
  box-sizing: border-box;

}

body {
  font-family: Arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.4;
  color: black;
}

h2.articulo {
  color: #CC6600;
  font-size: 1.6em;
  line-height: 1.2;
  margin-bottom: 0.3rem;
}

#cabecera,
#menu,
#lateral,
#contenido,
#contenido #principal,
#contenido #secundario,
#pie {
  border: none;
}

#cabecera {
  padding: 1em;
}

#menu {
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #004c99;
  background-image: url("img/afondo_menu.gif");
}

#noticias {
  border: 1px solid #c5c5c5;
}

#publicidad {
  border: 1px dashed #CC6600;

}


#secundario {
  border: 2px solid #CC6600 !important;

}

#noticias,
#publicidad,
#principal,
#secundario {
  padding: 0.5em;
}

#pie {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
}

#noticias,
#pie {
  background: #F8F8F8;
}

.articulo {
  margin: 1em;
}

img {
  margin: 0.5em;

}

#publicidad {
  margin-top: 1em;
  background: #FFF6CD;
}

#pie {
  border-bottom: 1px solid #c5c5c5;
  border-top: 1px solid #c5c5c5;
}

#secundario h2 {
  padding: .2em;
  background: #DB905C;
}

#logo {
  background-image: url("img/logo.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

#logo h1 {
  visibility: hidden;
}