html {
    scroll-behavior: smooth;
}

body {
    background: #11375c;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    display: flex;
    flex-direction: column;

}

h1 {
    text-align: center;
    text-transform: uppercase;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 200px;
    width: 98%;
    font-family: fantasy;
    background: linear-gradient(to right, rgba(189, 156, 36, 0.566), rgb(211, 15, 152));
    border-radius: 4px;
    padding: 15px;

}

nav>div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav>div>a {
    padding: 8px;
    border: solid black;
    border-width: thin;
    margin: 4px;
    color: orange;

}

table,
td,
th {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.4rem;
}

th {
    background: #2bc538;
}

td {
    width: 80px;
    text-align: center;

}

caption {
    margin-bottom: 0.5rem;
    margin-top: 0.8rem;
    color: rgb(142, 218, 117);
}

img {
    width: 90px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;

}

fieldset {
    display: flex;
    flex-direction: row;
    border-right: none;
    border-left: none;
    font-size: 18px;
    font-weight: bold;
    width: 50%;
    padding: 12px;
}

span {
    color: red;
    font-size: 21px;
    font-weight: bold;
}

.input-group-name {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input-group-tel {
    display: flex;
    flex-direction: row;
    width: 100%;
}



a {
    text-decoration: none;
}

a:visited {
    color: greenyellow;
}

a:hover {
    color: red
}

.tel {
    width: 36%;
    text-align: end;
    margin-right: 10px;
}

.name {
    border-bottom: none;

}

.email {
    border: none;
}

.w-m {
    width: 180px;
}

.tablaid {
    align-items: flex-end;
    text-align: end;
    padding: 8px;
    margin: 4px;
    color: orange;
}

#Card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 2rem;
    height: 85vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid #2bc538;
    width: 30%;
    justify-content: center;
    border-radius: 10%;

}

.card>img {
    width: 180px;
    height: 180px;
    border-radius: 20%;
    height: auto;
    margin-bottom: .75rem;
    object-fit: contain;
}

.card-titel {
    font-size: 21px;
    color: #2bc538;
}

.card-des {
    color: darkorange;
}